@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

/* Root variable declaration */
:root {
  --green: #a1a16c;
  --dark: #3f3e3e;
  --light: #e0e0e0;
  --darkerlight: #919191;
  --red: #ff1504;
  --border-radius: 8px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
}

/* Site styling */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  overflow: hidden;
  background-color: var(--light);
}

/* Header Styling */
h1 {
  margin-left: 300px;
  margin-top: 20px;
}

.divider {
  border-top: 2px solid var(--dark);
  border-radius: 5px;
  opacity: 30%;
  margin: 30px auto;
}

/* Add Book Button styling */

.addBook {
  display: flex;
  justify-content: center;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--light);
  border: 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  transition: 0.3s;
}

.addButton:hover {
  background-color: var(--darkerlight);
}

/* Add Book Modal Styling */

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  background-color: var(--light);
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
}

.add-book-form button {
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: var(--border-radius);
}

.is-read {
  display: flex;
  gap: var(--spacing-md);
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  accent-color: white;
}

.bookGrid {
  transition: filter 0.3s ease-in-out;
}

.bookGrid.blurred {
  filter: blur(5px);
}

/* Book Grid styling */

.bookGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 50px;
  margin-left: 50px;
}

.book {
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}

.book:hover {
  background-color: var(--darkerlight);
}

.toggleStatus {
  transition: 0.3s;
  width:fit-content
}

.toggleStatus:hover {
  background: var(--dark);
  border-radius: 5px;
  cursor: pointer;
  color: var(--light);
  width:fit-content
}

.removeButton {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  transition: 0.3s;
}

.removeButton:hover {
  color: var(--red);
}

/* Footer Styling */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: var(--dark);
}

.fa-github {
  color: var(--dark);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
